@model CategoryProductsViewModel
@{ 
    ViewData["Title"] = $"Category: {Model.CategoryName}";
}

<div class="titleHeader">Category: @Model.CategoryName</div>
@foreach (var product in Model.Products)
{
<div class="suggestedProductContainer">
    <div style="display:block; width: 100%; height: auto;">
        <a href="@product.Url">
            <img class="suggestedProductImage" src="@product.ImageSrc" alt="@product.Title">
        </a>
    </div>
    <div class="suggestedProductCategory">@product.BrandName</div>
    <div class="suggestedProductName">@product.Title @product.Title</div>
    <div class="suggestedProductName">$@product.Price.ToString("N")</div>
    <div class="suggestedProductCategory">@Model.CategoryName</div>
</div>
}