@using ECommerceWebsite.Models.Admin
@model AdminFinancialsViewModel
@{
    ViewData["Title"] = "Admin Financials - Filter Daily Takings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="titleHeader floatLeft width48perc">Financials</div>
    <div class="addNewText">
        &nbsp;
    </div>
    <div class="clearBoth"></div>
</div>

<div>
    <span>Month: @Model.Month</span>|<span>Total: $@Model.MonthylTotal.ToString("0.00");</span>
</div>
<table class="tblBase">
    <thead class="tblHeadBorder">
        <tr>
            <td class="textAlignCenter" width="20%" style="padding-bottom: 5px;">Date</td>
            <td class="textAlignCenter" width="10%" style="padding-bottom: 5px;">Items Sold</td>
            <td class="textAlignCenter" width="10%" style="padding-bottom: 5px;">Total Cost ($)</td>
            <td class="textAlignCenter" width="10%" style="padding-bottom: 5px;">Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var dailyTaking in Model.DailyTakings)
        {
            <tr>
                <td class="textAlignCenter">
                    @Html.HiddenFor(p => dailyTaking.TransactionId)
                    @dailyTaking.Date.ToShortDateString()
                </td>
                <td class="textAlignCenter">
                    @dailyTaking.NumberOfItems
                </td>
                <td class="textAlignCenter">
                    @dailyTaking.Total
                </td>
                <td class="textAlignCenter">
                    <a href="@Url.Action("view", "financials", new { dailyTaking.Date })">
                        <input type="image" alt="Edit" src="~/img/icon-pack/png/074-pen.png" width="25" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>