@using ECommerceWebsite.Models.Admin
@model AdminDashboardViewModel
@{
    ViewData["Title"] = "Admin Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="titleHeader">Dashboard</div>

<div class="cardPadBottom">
    <div class="dashboardCard floatLeft">
        <div class="subTitleHeader">
            Low Stock

            <div class="floatRight">
                <a href="~/admin/products" class="viewAll">View all Products</a>
            </div>
            <div class="clearBoth"></div>
        </div>

        @if (Model.LowStockProducts.Count == 0)
        {
            <div>There are no low products to show.</div>
        }
        else
        {
            <div>
                <div class="width76perc displayInlineBlock">Product Name</div>
                <div class="width20perc displayInlineBlock textAlignCenter">Quantity</div>
                <hr />
            </div>

            @foreach (var product in Model.LowStockProducts)
            {
                <div class="width76perc displayInlineBlock">
                    @Html.ActionLink(product.ProductName, "Edit", "AdminProductController", new { @title = "Edit Product" })
                </div>
                <div class="width20perc displayInlineBlock textAlignCenter">@product.Quantity</div>
            }
        }

        
    </div>

    <div class="dashboardCard cardPadLeft floatRight">
        <div class="subTitleHeader">
            New Users

            <div class="floatRight">
                <a href="~/admin/users" class="viewAll">View all Users</a>
            </div>
            <div class="clearBoth"></div>
        </div>

        @if (Model.NewUsers.Count == 0)
        {
            <div>There are no new users to show.</div>
        }
        else
        {
            <div>
                <div class="width76perc displayInlineBlock">Full Name</div>
                <div class="width20perc displayInlineBlock textAlignCenter">Registered</div>
                <hr />
            </div>

            @foreach (var user in Model.NewUsers)
            {
                <div>
                    <div class="width76perc displayInlineBlock">
                        @Html.ActionLink($"{user.FirstName} {user.LastName}", "Edit", "AdminUsersController", new { @title = "Edit User" })
                    </div>
                    <div class="width20perc displayInlineBlock textAlignCenter">@user.DateRegistered.ToShortDateString()</div>
                </div>
            }
        }
    </div>
    <div class="clearBoth"></div>
</div>

<div class="cardPadBottom">
    <div class="dashboardCard floatLeft">
        <div class="subTitleHeader">
            Latest Transactions

            <div class="floatRight">
                <a href="~/admin/transactions" class="textAlignRight">View all Transactions</a>
            </div>
            <div class="clearBoth"></div>
        </div>

        @if (Model.LatestTransactions.Count == 0)
        {
            <div>There is no transaction information to show.</div>
        }
        else
        {
            <div>
                <div class="width56perc displayInlineBlock">Full Name</div>
                <div class="width20perc displayInlineBlock textAlignCenter">Cost</div>
                <div class="width20perc displayInlineBlock textAlignCenter">Date Created</div>
                <hr />
            </div>

            @foreach (var transaction in Model.LatestTransactions)
            {
                <div class="width56perc displayInlineBlock">
                    <a href="@Url.Action("view", "transactions", new { transaction.Id })">
                        @transaction.FirstName @transaction.LastName
                    </a>
                </div>
                <div class="width20perc displayInlineBlock textAlignCenter">$@transaction.TotalCost</div>
                <div class="width20perc displayInlineBlock textAlignCenter">@transaction.DateCreated.ToShortDateString()</div>
            }
        }

        
    </div>

    <div class="dashboardCard cardPadLeft floatRight">
        <div class="subTitleHeader">
            Financial Information

            <div class="floatRight">
                <a href="~/admin/financial" class="textAlignRight">View Financial Information</a>
            </div>
            <div class="clearBoth"></div>
        </div>

        @if (Model.FinancialInformation.Count == 0)
        {
            <div>There is no financial information to show.</div>
        }
        else
        {
            <div>
                <div class="width76perc displayInlineBlock">Date</div>
                <div class="width20perc displayInlineBlock textAlignCenter">Takings</div>
                <hr />
            </div>

            @foreach (var dailyTakings in Model.FinancialInformation)
            {
                <div>
                    <div class="width76perc displayInlineBlock">
                        <a href="@Url.Action("takings", "transactions", new { dailyTakings.Id })">
                            @dailyTakings.Date.ToShortDateString()
                        </a>
                    </div>
                    <div class="width20perc displayInlineBlock textAlignCenter">$@dailyTakings.TotalTakings</div>
                </div>
            }
        }
    </div>
    <div class="clearBoth"></div>
</div>