@using ECommerceWebsite.Models.Admin;

@model AddProductViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    bool productActionMessage = TempData["ProductAction"] != null;
}
<div class="titleHeader">Add Product</div>
@if (productActionMessage)
{
    @if (Convert.ToBoolean(TempData["ProductAction"]))
    {
    <div class="messageBox">
        @if (Model.ActionResponse.ActionSuccessful)
        {
            <div class="confirmMessage">
                Product successfully added.
                <img src="/img/icon-pack/png/icon-green-tick.png" class="messageImg">
            </div>
        }
        else
        {
            <div class="confirmMessage">
                @Model.ActionResponse?.Error?.Message
                @*TODO: We need a red cross icon similar type to green tick*@
                @*<img src="/img/icon-pack/png/icon-green-tick.png" class="messageImg">*@
            </div>
        }
    </div>
    }
    else
    {
        <div class="responseMessageBox">
            <div class="errorMessage">
                Product not found, unable to delete. We recommend a hard browser refresh (Ctrl + F5).
                If this problem persists, please contact support.
            </div>
        </div>
    }
}

@using (Html.BeginForm("AddProduct", "products", Model, FormMethod.Post, false, new { @class = "form" }))
{
    @Html.ValidationSummary()

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.Brands)
        </div>
        <div class="floatLeft">
            @Html.DropDownListFor(p => p.Brands, Model.Brands, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.ProductName)
        </div>
        <div class="floatLeft">
            @Html.TextBoxFor(p => p.ProductName, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.Price, new { placeholder = "200.00" }) ($)
        </div>
        <div class="floatLeft">
            @Html.TextBoxFor(p => p.Price, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.Description)
        </div>
        <div class="floatLeft">
            @Html.TextAreaFor(p => p.Description, new { @class = "textArea" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.Genders)
        </div>
        <div class="floatLeft">
            @Html.DropDownListFor(p => p.Genders, Model.Genders, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.Categories)
        </div>
        <div class="floatLeft">
            @Html.DropDownListFor(p => p.Categories, Model.Categories, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.HeroImage)
        </div>
        <div class="floatLeft">
             <input type="file" />
            @*TODO: https://www.c-sharpcorner.com/article/upload-files-in-asp-net-mvc-5/ *@
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.Images)
        </div>
        <div class="floatLeft">
            <input type="file" />
            @*TODO: https://www.c-sharpcorner.com/article/upload-files-in-asp-net-mvc-5/ Four times. *@
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
        </div>
        <div class="width50 floatLeft">
            <input id="btnSubmit" value="Add Product" type="submit" class="btnSubmit redOrangeGrad" />
        </div>
        <div class="clearBoth"></div>
    </div>
}