@model EditUserViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="titleHeader">Edit User</div>

@using (Html.BeginForm("Update", "Users", FormMethod.Post))
{
    @Html.ValidationSummary(false, string.Empty, new { @class = "required" })

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.FirstName) <span class="required">*</span>
        </div>
        <div class="floatLeft">
            @Html.TextBoxFor(p => p.FirstName, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.LastName) <span class="required">*</span>
        </div>
        <div class="floatLeft">
            @Html.TextBoxFor(p => p.LastName, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.Email) <span class="required">*</span>
        </div>
        <div class="floatLeft">
            @Html.TextBoxFor(p => p.Email, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(m => m.DateOfBirthDay)<span class="required">*</span>
        </div>
        <div class="floatLeft">
            @Html.TextBoxFor(m => m.DateOfBirthDay, new { @class = "inlineBlock dobInputSmall", @maxlength = "2", @placeholder = "DD", @required = "required", onkeyup = "moveToMonth();", id = "dobDay" })
            @Html.TextBoxFor(m => m.DateOfBirthMonth, new { @class = "inlineBlock dobInputSmall", @maxlength = "2", @placeholder = "MM", @required = "required", onkeyup = "moveToYear();", id = "dobMonth" })
            @Html.TextBoxFor(m => m.DateOfBirthYear, new { @class = "inlineBlock dobInputMedium", @maxlength = "4", @placeholder = "YYYY", @required = "required", id = "dobYear" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.Roles) <span class="required">*</span>
        </div>
        <div class="floatLeft">
            @Html.DropDownListFor(p => p.SelectedRole, Model.Roles, "Select Role", new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="floatLeft">
            @Html.TextBoxFor(m => m.Password, new { @type = "password" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(m => m.ConfirmPassword, new { @type = "password" })
        </div>
        <div class="floatLeft">
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div class="paddingTopBot10">
        <div class="floatLeft width30perc">
            &nbsp;&nbsp;
        </div>
        <div class="floatLeft">
            @Html.HiddenFor(p => p.Id)
            <input id="btnSubmit" value="Add User" type="submit" class="btnSubmit redOrangeGrad" />
        </div>
        <div class="clearBoth"></div>
    </div>
}