@using ECommerceWebsite.Models.Admin
@model EditOrderInformationViewModel
@{
    ViewData["Title"] = "Admin Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Model.ActionResponse = TempData["OrdersAction"] == null ? null : (BaseWebServiceResponse)TempData["OrdersAction"];
    var paymentReceived = Model.PaymentReceived ? "Yes" : "No";
}
<div class="titleHeader">Edit Order</div>

@using (Html.BeginForm("Update", "Orders", FormMethod.Post))
{
    @Html.ValidationSummary(false, string.Empty, new { @class = "required" })

    <div>
        <div class="floatLeft width30perc">
            @Html.HiddenFor(p => p.Id)
            @Html.LabelFor(p => p.User)
        </div>
        <div class="floatLeft width30perc">
            @Html.DisplayFor(p => p.User.FirstName) @Html.DisplayFor(p => p.User.LastName) <br />
            @Html.DisplayFor(p => p.User.Email) <br />
            @Html.ActionLink("Edit User", "Edit", "Users")
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.OrderedProducts)
        </div>
        <div class="floatLeft width30perc">
            @foreach (var orderedProduct in Model.OrderedProducts)
            {
                <div>
                    Product: @Html.DisplayFor(p => orderedProduct.Product) <br />
                    Size: @Html.DisplayFor(p => orderedProduct.Size) <br />
                    Price: $@Html.DisplayFor(p => orderedProduct.Price) <br />
                </div>
            }
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.OrderStatuses)
        </div>
        <div class="floatLeft width30perc">
            @Html.DropDownListFor(p => p.SelectedOrderStatus, Model.OrderStatuses, new { @class = "width200px" })
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.ReferenceNumber)
        </div>
        <div class="floatLeft width30perc">
            @Html.DisplayFor(p => p.ReferenceNumber)
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.ArrivalDate)
        </div>
        <div class="floatLeft width30perc">
            @Html.TextBoxFor(p => p.ArrivalDate) @*TODO: DatePicker here*@
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.PaymentReceived)
        </div>
        <div class="floatLeft width30perc">
            @paymentReceived
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.BillingInformation)
        </div>
        <div class="floatLeft width30perc">
            @Html.TextBoxFor(p => p.BillingInformation.FirstName) <br />
            @Html.TextBoxFor(p => p.BillingInformation.LastName)<br />
            @Html.TextBoxFor(p => p.BillingInformation.Email)<br />
            @Html.TextBoxFor(p => p.BillingInformation.Address1)<br />
            @Html.TextBoxFor(p => p.BillingInformation.Address2)<br />
            @Html.TextBoxFor(p => p.BillingInformation.CityTown)<br />
            @Html.TextBoxFor(p => p.BillingInformation.Country)<br />
            @Html.TextBoxFor(p => p.BillingInformation.PostCode)<br />
            @Html.TextBoxFor(p => p.BillingInformation.Phone)<br />
        </div>
        <div class="clearBoth"></div>
    </div>

    <div>
        <div class="floatLeft width30perc">
            @Html.LabelFor(p => p.ShippingInformation)
        </div>
        <div class="floatLeft width30perc">
            @Html.TextBoxFor(p => p.ShippingInformation.FirstName) <br />
            @Html.TextBoxFor(p => p.ShippingInformation.LastName) <br />
            @Html.TextBoxFor(p => p.ShippingInformation.Email)<br />
            @Html.TextBoxFor(p => p.ShippingInformation.Address1)<br />
            @Html.TextBoxFor(p => p.ShippingInformation.Address2)<br />
            @Html.TextBoxFor(p => p.ShippingInformation.CityTown)<br />
            @Html.TextBoxFor(p => p.ShippingInformation.Country)<br />
            @Html.TextBoxFor(p => p.ShippingInformation.PostCode)<br />
            @Html.TextBoxFor(p => p.ShippingInformation.Phone)<br />
            @Html.TextBoxFor(p => p.ShippingInformation.DeliveryMethod)<br />
        </div>
        <div class="clearBoth"></div>
    </div>

    <div class="paddingTopBot10">
        <div class="floatLeft width30perc">
            &nbsp;&nbsp;
        </div>
        <div class="floatLeft">
            <input id="btnSubmit" value="Update Order" type="submit" class="btnSubmit redOrangeGrad" />
        </div>
        <div class="clearBoth"></div>
    </div>
}